
/*Ajusted one column View for Desktop , Mobile and Tablets*/
#restaurants-list {
	display: block;
	margin: 0;
	max-width : 100%;
	max-height: 100%;
}

#neighborhoods-select {
	width: 180px;
	padding-left: 20px;
}

#cuisines-select {
		width: 130px;
		padding-right: 20px;
}

#map-container {
	height: 40vh;
	width: 100%;
	top: 0;
	position: relative;
	z-index: 1;
}

#map {
  height: 100%;
  width: 100%;
}

ul#restaurants-list {
	display: flex;
	flex-wrap: wrap;
}

/*Main Desktop View*/
@media screen and (min-width:1001px) {

	ul#restaurants-list > li {
		width: 20%;
		padding: 10px;
		margin-right: auto;
		margin-left: auto;
	}

	nav > h1 {
		font-size: 2em;
		padding: 3vh 3vh;
	}

	#restaurant-img-mobile {
		display: none;

	}

	#restaurant-img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		height: 40%;
		padding-top: 2em;
	}

}
/*Main Tablet View*/
@media screen and (min-width:639px) and (max-width: 1000px) {

	ul#restaurants-list > li {
		width: 38%;
		padding-top: 5px;
		margin-right: auto;
		margin-left: auto;
	}

	nav > h1 {
		font-size: 1.8em;
		padding: 3vh 3vh;
	}

	#restaurant-img-mobile {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		height: 25vw;
		padding-top: 2em;
	}

	#restaurant-img {
		display: none;
	}

}

/*Main Mobile View*/
@media screen and (max-width:640px) {

	nav > h1 {
		font-size: 1.5em;
		padding: 3vh 3vh;
	}

	#restaurant-img-mobile {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		height: 40vw;
		padding-top: 2em;
	}

	#restaurant-img {
		display: none;
	}

}
