	#infoContainer {
		display: flex;
		flex-wrap: wrap;
		position: sticky;
		z-index: 8;
		background-color: #eee;
	}

/*Main Desktop View*/
@media screen and (min-width:1000px) {


}

/*Restaurant Mobile View*/
@media screen and (min-width:650px) {

	.inside #map-container {
	  background: blue none repeat scroll 0 0;
		top: 0;
		height: 30vh;
		width: 100%;
		position: fixed;
		z-index: 0;
	}

	.inside #map {
	  background-color: #ccc;
	  height: 100%;
	  width: 100%;
		top: 130px;
	}

	#infoContainer {
		margin-top: 35vh;
	}

	#restaurant-container {
		width: 100%;
	}

	#reviews-container {
		width: 100%;
	}

}
