#maincontent {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

	#infoContainer {
		z-index: 8;
		background-color: #eee;
		width: 100%;
		padding: 0;
	}

/*Main Desktop View*/
@media screen and (min-width:1000px) {


}

/*Restaurant Mobile View*/
@media screen and (min-width:650px) {

	.inside #map-container {
	  background: blue none repeat scroll 0 0;
		top: 0;
		height: 40vh;
		width: 100%;
		top: 150px;
		position: fixed;
		z-index: 0;
	}

	.inside #map {
	  background-color: #ccc;
	  height: 100%;
	  width: 100%;
	}

	#infoContainer {
		margin-top: 48vh;
	}

	#restaurant-container {
		width: 100%;
	}

	#reviews-container {
		width: 100%;
	}

}
